<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71402755662-ko63g8tlgn8m27t9kjhtklq58kev8r89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71402755662-ko63g8tlgn8m27t9kjhtklq58kev8r89</string>
	<key>API_KEY</key>
	<string>AIzaSyD_toge-ilTgrXUDaR5CEIN-CrbiE0gYes</string>
	<key>GCM_SENDER_ID</key>
	<string>71402755662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-apps-d93d4</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-apps-d93d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71402755662:ios:3836f3c07c36ebc87d151f</string>
</dict>
</plist>